/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

#map{
  margin: 0;
  padding: 0;
}

.list {
  
  //margin: auto;
  //display: flex;
  //justify-content: space-around;
  //flex-flow: wrap; 
  background-color: #3397DB;
  padding: 5px 0;
  position: relative;
  //align-items: center; 
  //height: 100vh

}

.list .search {
    padding: 5px;
    margin-left: 5px;

}

.list .button{
    padding: 6px;
    background: blue;
    color: lightgray;
    cursor: pointer;
}

.hidden{
    display: none;
}

.main-location {
    position: absolute;
    z-index: 1;
    background: #3397DB;
    margin: 0px;
    list-style: none;
    padding: 0px 10px;
    overflow: hidden; 
    overflow-y: scroll;
    max-height:100vh; 
    //width:40%;
}

.main-location li {
    /*display: inline;*/
    /*width: 100px;*/
    padding: 5px;
    //color: lightgray;
}

