/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

#map{
  margin: 0;
  padding: 0;
}

.list {  
  background-color: #3397DB;
  padding: 5px 0;
  position: relative;
}

h2 {
  font-size: 36px; 
  float: right;
}

.list .search {
    padding: 5px;
    margin-left: 5px;

}

.list .button{
    padding: 6px;
    background: blue;
    color: lightgray;
    cursor: pointer;
}

.list-search {
  display: flex;
  flex-flow: wrap;
  margin: auto;
}

.hidden{
    display: none;
}

.main-location {
    position: absolute;
    z-index: 1;
    background: #3397DB;
    margin: 0px;
    list-style: none;
    padding: 0px 10px;
    overflow: hidden; 
    overflow-y: scroll;
    max-height:100vh; 
    max-width:40%;
}

.main-location li {
    /*display: inline;*/
    /*width: 100px;*/
    padding: 5px;
    //color: lightgray;
}
.fa fa-close{
font-size: 2em;
  margin: 0 5px;
}